
trigger:
- main

jobs:
- job: myJob
  pool:
    name: Default
  steps:
    - checkout: self
      clean: false

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask

    - task: greetTask@1
      inputs:
        samplestring: $(ui_variable)
        
    - bash: |
        echo $(privateTask.outputVar)
      condition: eq(variables.outputVar2, 'time')
        
    - bash: |
        echo $secrets
        echo $(group_secrets)
      env:
        secrets: $(ui_variable)
      

# - job: secondJob
#   dependsOn: myJob
#   variables:
#     varFromMyJob: $[dependencies.myJob.outputs['privateTask.outputVar']]
#   pool:
#     name: Default
    
#   condition: eq(dependencies.myJob.outputs['privateTask.outputVar'], 'time')
#   steps:
#     - bash: |
#         echo $(varFromMyJob) 
    
      
    
    
    
        
