
trigger:
- main

jobs:
- job: myJob
  pool:
    name: Default
  steps:
    - checkout: self
      clean: false

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask

    - task: greetTask@1
      inputs:
        samplestring: 'public'
        
    - bash: |
        echo $(privateTask.outputVar)
      condition: eq(outputVar2, 'time')
        
    - bash: |
        echo `time`
      

- job: secondJob
  dependsOn: myJob
  variables:
    varFromMyJob: $[dependencies.myJob.outputs['privateTask.outputVar']]
  pool:
    name: Default
    
  condition: eq(dependencies.myJob.outputs['privateTask.outputVar'], 'time')
  steps:
    - bash: |
        echo $(varFromMyJob) 
    
      
    
    
    
        
