
trigger:
- main

jobs:
- job: myJob
  variables:
  - group: first-variable-group
  - name: group_secrets
    value: "value"
  pool:
    name: Default
  steps:
    - checkout: self
      clean: false

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask

    - task: greetTask@1
      inputs:
        samplestring: 'public'
        
    - task: CopyFiles@2
      displayName: 'Copy artifacts'
      inputs:
        contents: 'artifact/**'
        targetFolder: '$(Agent.BuildDirectory)/s'

    - publish: '$(Agent.BuildDirectory)/s/artifact'
      displayName: 'Publish artifact'
      artifact: drop
      

- job: secondJob
  dependsOn: myJob
  pool:
    name: Default
    
  steps:
    - download: current
      artifact: drop

    - bash: |
        echo $(Pipeline.Workspace)
        echo $(Pipeline.Workspace)\drop\test.txt
    
    
      
    
    
    
        
