
trigger:
- main

jobs:
- job: myJob
  pool:
    name: Default
  steps:
    - checkout: self
      clean: false

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask

    - task: greetTask@1
      inputs:
        samplestring: 'public'
        
    - bash: |
        echo $(privateTask.outputVar)
      

- job: secondJob
  dependsOn: myJob
  pool:
    name: Default
  steps:
    - bash: |
        echo $(dependencies.myJob.outputs['privateTask.outputVar'])      
      
    - bash: |
        echo "regular output"
    
    
    
        
