
trigger:
- main

# resources:
#   repositories:
#     - repository: templates
#       type: github
#       name: musset0/test_actions_02
#       endpoint: github_musset_repo

# jobs:
# - template: common.yml@templates
#   parameters:
#     vmImage: 'ubuntu-latest' 
#     samplestring: 'public'
    
jobs:
- job: myJob
  
  pool:
    name: Default
  steps:
    - checkout: self
      clean: true

    - bash: |
        echo 'hello js-e2e-express-server'

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask
      
    - task: greetTask@1
      inputs:
        samplestring: 'public'

    
