
trigger:
- main

jobs:
- job: myJob
  pool:
    name: Default
  steps:
    - checkout: self
      clean: false

    - task: privateTask@0
      inputs:
        samplestring: 'private'
      name: privateTask

    - task: greetTask@1
      inputs:
        samplestring: 'public'
        
    - bash: |
        echo $(privateTask.outputVar)
      condition: eq(outputs['privateTask.outputVar'], 'time')
    
    
        
